.home-main-container{
  background-image: linear-gradient(to bottom, whitesmoke, #ffffff);
  background-color: whitesmoke;
    .home {
      position: relative;
      z-index: 1;
      img {
        width: 100%;
        height: 500px;
      }
      .btn-explore {
        background: $clr6;
        color: white;
        text-decoration: none;
        margin: 15px; 
        padding: 10px 36px;
        border-radius: 6px;
        transition: all 0.1s;
        font-weight: bold;
        &:hover {
          background: #E81035;
        }
      }
  
      .center-text {
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
        color: white;
        width: 100%;
        padding: 0 100px;
        h2 {
          font-size: 4.5rem;
          margin: 5px;
        }
        h3{
          font-size: 1.5rem;
  
        }
      }
    }
    .categories-container {
      max-width: 1140px;
      margin: 50px auto;
      .categories {
        margin: 50px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
      }
    }
}