
// COLOR PALETTE

$clr1: #00A8E8;
$clr2: #007EA7;
$clr3: #003459;
$clr4: #00171F;
$clr5: #fff;
$clr6: #F13A59;


// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;


