.explore-filter-container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 1.1rem;
    margin: 10px;
    text-decoration: none;
    letter-spacing: 0.3px;
  }

  .router-link-exact-active {
    color: #00171F;
  }
}
