.preview-details-container {
  border-radius: 7px;
  background-color: #fff;
  outline: 1px;
  cursor: pointer;
  flex: 0 0 260px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
  position: relative;
  transition: all 0.2s;
  box-shadow: 0px 0px 1px;
  .ribbon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 10px;
    left: 0;
    background: #2c3e50;
    position: absolute;
    p {
      padding: 4px 10px;
      color: white;
    }
  }
  p {
    margin: 0;
    padding: 0px 3px;
  }
  .preview-desc {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
  }

  .preview-title {
    color: #00355c;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .preview-location {
    color: rgb(54, 50, 50);
    font-size: 0.9rem;
    color: gray;
    letter-spacing: 0.2px;
  }

  .preview-top {
    display: flex;
    justify-content: space-between;

    .preview-created-by-name {
      margin-left: 63px;
      font-weight: bold;
    }

    p {
      margin: auto;
    }
  }

  .preview-starts {
    // color: rgb(105, 114, 105);
    color: gray;
    font-size: 0.9rem;
  }

  .preview-image-container {
    .preview-image {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      width: 100%;
      height: 200px;
    }

    .left {
      left: 50%;
    }

    .wrap {
      position: absolute;
      top: 170px;
      left: 10px;
    }

    .wishlist-heart {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 1.2rem;
      color: white;
      -webkit-text-stroke: 2px black;
      transition: all 0.2s;

      &:hover {
        color: rgb(214, 91, 91);
      }
    }

    .image-cropper {
      width: 100px;
      height: 100px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  .preview-desc-text {
    color: gray;
    margin: 10px 0;
    font-size: 1rem;
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .preview-info {
    display: flex;
    margin: 4px 0px;
  }
}
