.about-page-container {
  text-align: left;
  .details {
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: auto 10px;
    .created-by-card-name {
      margin: auto 10px;
    }
    .created-by {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
    }
    .created-by-card {
      display: flex;
    }
    .flex-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      .deep-details {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        p {
          color: #2c3e50;
          margin: 10px 0;
        }
      }
    }

    h1:first-child {
      color: #2c3e50;
    }
  }
  p {
    margin: 0;
  }
  h3 {
    margin: 0 0 10px 0;
  }
  a {
    text-decoration: none;
    color: rgb(49, 49, 49);
  }
  img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  .about-details {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-details div {
    flex-basis: 100px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .text {
    word-break: break-word;
  }
}

@media screen and (max-width: 530px) {
  .about-page-container .google-map {
    height: 300px;
  }

  .about-page-container .details .flex-column .deep-details {
    display: none;
  }

  .created-by{
    order: -1;
    margin-bottom: 20px;
  }
  .details {
    flex-direction: column;
  }
}
