.container-details-bar{
    .fade-enter-active {
        transition: all 0.75s;
    }
    .fade-enter,
    .fade-leave-to {
    opacity: 0;
    }
    .ml-50 {
        margin-left: 50px;
    }
    background: #f7f7f7;
    .ml-50 {
        margin-left: 50px;
    }
    .sticky {
    position: fixed;
    top: 0;
    background: white;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    }
    .nav-bar {
        padding: 20px;
        display: flex;
    }
    
    .buttons,
    .attend {
    margin: auto;
    flex: 1;
    text-align: left;
    }
    a {
    text-decoration: none;
    color: gray;
    margin-right: 30px;
    font-weight: bold;
    transition: all 0.2s;
    }
    a:hover {
    color: lightskyblue;
    }
}