.about-page-container {
  display: flex;
  text-align: left;
  p {
    margin: 0;
  }
  h3 {
    margin: 0 0 10px 0;
  }
  a {
    text-decoration: none;
    color: rgb(49, 49, 49);
  }
  img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  .details {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .details div {
    flex-basis: 100px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .text {
    word-break: break-word;
  }
  .details,
  .google-map {
    flex: 1;
  }
  .created-by-card-name {
    margin: auto 10px;
  }
  .created-by {
    display: flex;
    flex-direction: column;
  }
  .created-by-card {
    display: flex;
  }
  .google-map {
    width: 100%;
    padding: 20px;
    height: 100%;
  }
}
