.card-container {
  background-color: #fff;
  border-radius: 3px;
  outline: 1px;
  cursor: pointer;
  flex: 0 0 260px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
  position: relative;
  transition: all 0.2s;
  box-shadow: 0px 0px 1px;
  .top-container {
    height: 200px;
    position: relative;
    .card-image {
      border-radius: 3px;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .category {
      position: absolute;
      bottom: 0;
      p {
        background: $clr4;
        color: white;
        padding: 5px;
        font-size: 1.1rem;
      }
    }
    .date-container {
      position: absolute;
      top: 10px;
      right: 10px;
      text-align: center;
      background: $clr4;
      color: white;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-weight: bold;
      }
      .month{
          font-size: 0.75rem;
      }
    }
  }
  .bottom-container {
    flex-direction: column;
    display: flex;
    margin: 0px 20px 0px 20px;
    justify-content: space-evenly;
    /* margin: 19px 20px; */
    height: 175px;
    .title {
      font-size: 1.4rem;
      color: black;
      flex-basis: 54px;
    }
    .location {
      font-size: 1.1rem;
      color: $clr4;
    }
    .info {
      display: flex;
      color: gray;
      .text-info {
        margin-right: 20px;
      }
    }
  }
}
