.chat-message {
  width: 100%;
  display: flex;
  align-items: center;
  p {
    margin: 0;
    text-align: left;
  }
  .msg-info {
    display: flex;
    p{
      font-size: 1.1rem;
    }
  }
  .msg-txt {
    font-size: 0.9rem;
    color: gray;
    word-break: break-all;
  }
  img {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}
