.chat-message{
    width: 400px;
    display: flex;
    align-items: center;
    margin: 5px 20px;
    p{
        margin: 0;
        text-align: left;
      }
      .msg-fullname{
        font-size: 12px;
        display: flex;
        justify-content: space-between;
      }
      .msg-txt{
        font-size: 16px
      }
      img{
        height: 30px;
        width: 30px;
        margin: 5px;
      }
}