.main-nav{
  z-index: 2;
  width: 100%;
  padding: 20px 15px;
  user-select: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-image: linear-gradient(to bottom, #000000, #0000006e, #00000000);
  background: #00171F;
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 150px;
    padding-right: 12px;
  }
  a,
  .logout {
    color: $clr5;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    &.router-link-exact-active {
      color: $clr6;
    }
    &:hover {
      color: $clr6;
    }
  }
  .logo {
    cursor: pointer;
    display: flex;
    font-size: bold;
    align-items: center;
    img {
      width: 190px;
    }
    .title {
      font-size: 1.3rem;
      margin-left: 10px;
      
    }
  }
}