.main-nav {
  z-index: 2;
  width: 100%;
  padding: 20px 15px;
  user-select: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  // background: #00171f;
  background-image: linear-gradient(to bottom, #000000, #00171f);

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 150px;
    padding-right: 12px;
    .user-profile {
      cursor: pointer;
      display: flex;
      p {
        margin: auto 0;
        color: darkgray;
      }
      img {
        margin-left: 10px;
        height: 40px;
        border-radius: 50%;
        width: 40px;
        object-fit: cover;
      }
      .options {
        position: absolute;
        right: 0;
        margin: 45px 25px 0px 0px;
        border-radius: 5px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.9);
        .drop-down-item {
          padding: 10px;
          color: $clr5;
          cursor: pointer;
          font-size: 1rem;
          text-decoration: none;
          transition: all 0.1s;
          display: flex;
          align-items: center;
          color: darkgray;
          &.router-link-exact-active {
            color: $clr6;
          }
          &:hover {
            color: $clr6;
          }
        }
      }
    }
  }
  .seprator {
    border-left: 1px solid gray;
    display: block;
    height: 15px;
    margin: 0.75rem;
    padding: 0;
  }
  .logo {
    cursor: pointer;
    display: flex;
    font-size: bold;
    align-items: center;
    img {
      width: 190px;
    }
    .title {
      font-size: 1.3rem;
      margin-left: 10px;
    }
  }
}
.white {
    color: $clr5 !important
}
.main-nav.home{
  a{
    color: $clr5
  }
  position: absolute;
  top:0;
  background-image: linear-gradient(to bottom, #000000, #00171f96, rgba(0,0,0,0), rgba(0,0,0,0));
}


@media screen and (max-width: 530px){
  .main-nav .logo img{
    width: 40.1px;
  }
}