.close {
    display: absolute;
}
 
.user-msg {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 2;
}
 
.msg-content {
    position: relative;
    display: flex;
    padding: 10px;
    background-color: green;
    left: -50%;
    color: white;
    border-radius: 3px;
}

.msg-text{
    p{
        margin: 0 auto;
    }
}
 
.close {
    margin-left: 20px;
}
 
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}
 
.close-btn {
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    font-size: 1rem;
    transition: all .2s;
}
 
.close-btn:hover{
    color: black;
}